/* Header */

.header-main-div{
display: grid;
grid-template-columns: 2.5fr 1fr ;
padding: 20px;
background-color: transparent;
}

.header-navigation-div{
display: flex;
flex-direction: row;
justify-content: center;
gap: 43px;
}

.header-buttons-div{
display: flex;
flex-direction: row;
gap: 23px;
}